@font-face {
    font-family: "FT-88";
    src: url('assets/FT88-Gothique.woff') format('woff');
    src: url('assets/FT88-Gothique.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "HelveticaNeue";
    src: url('assets/HelveticaNeue-UltraLight.otf') format('otf');
}

body{
    background-color: black;
    font-size: 4vh;
    cursor:none;
    width:100vw;
    height:100vh;
    position:fixed;
}

#lightSaber{
    position: fixed;
    transform: translate(-50%, -50%);
    width: 3vw;
    height: 3vw;
    background: #ff0e76;
    filter: blur(22px);
    border-radius: 50%;
    /* filter: blur(5.5px); */
    z-index:5;
/* target certain properties for events in js */
    transition: width 300ms, height 300ms, filter 500ms; 
    pointer-events:none;
    mix-blend-mode:exclusion;
    /* top: 50vh;
    left:80vw; */
}




.blueText{
    position: absolute;
    left: 30.5%;
    top: 22.4%;
    font-family: 'FT-88';
    font-style: normal;
    font-weight: 400;
    padding:0px;
    display: inline-block;
    font-size: 4.6em;
    width:39.1%;
    height:55.1%;
    color:rgb(55, 0, 255);
    /* mix-blend-mode:exclusion; */
    }

    .row1{
        width:100%;
        display:flex;
        /* height:30%; */
        /* position:absolute; */
        /* top:0; */
        /* transition-duration: 1s; */
    }
    
    .row2{
        width:100%;
        display:flex;
        /* position:absolute; */
        /* top:28%; */
    }

    .row3{
        width:100%;
        display: flex;
        /* top:56%; */
        /* position:absolute; */
    }

    


#discoBall{
    border-radius:50%;
    width: 0.8em;
    height: 0.8em;
    left: 45%;
    top: 10%;
    z-index: 4;
    /* transform: translate(-50%, -50%); */
    transition: 300ms;
    margin-top: 20px;
    
}

.lilbox {
    transition: 500ms;
}


.info{
position:fixed;
text-align: center;
left: 42vw;
top: 48vh;
font-family: 'Helvetica';
font-style: normal;
font-weight: 600;
font-size: 0.5em;
line-height: 100%;
background:#000000d5;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
opacity:0;
transition: 300ms;
/* text-fill-color: transparent; */
/* or 40px */


}








